#-*- mode: git-ignore -*-

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.pytest_cache/
cover/
instance/
docs/_build/
celerybeat-schedule
celerybeat.pid
*.mo
*.pot
*.py,cover
local_settings.py
db.sqlite3
db.sqlite3-journal
.python-version
.DS_Store
